.card
  %h5.card-header.text-center= 'Контакты'
  .card-body
    %p.card-text
      %i.fas.fa-map-marker-alt
      = link_to "https://goo.gl/maps/xDpFrBhJJS55bYpo9", target: "_blank" do
        г. Харьков
        %br/
        ул. Космическая 22
        %br/
        офис 142
    %p.card-text
      %img.phone_logo(src="https://shop.kyivstar.ua/bundles/kyivstarreview/img/Kyivstar_2015_logo_-_Brandmark.png?47")
      = link_to "098-363-09-57", "tel:+380983630957"
    %p.card-text
      %img.phone_logo(src="https://www.lifecell.ua/uploads/feincms_ceo_images/lifecell_logo.png")
      = link_to "063-452-10-02", "tel:+380634521002"
    %p.card-text
      %img.phone_logo(src="https://www.freepnglogos.com/uploads/vodafone-png-logo/vodafone-logo-2019-edigital-australia-19.png")
      = link_to "095-116-02-66", "tel:+380951160266"
    %p.card-text
      %i.fab.fa-telegram-plane
      = link_to "063-452-10-02", "tg://resolve?domain=Angar.kh.ua"
    %p.card-text
      %i.fab.fa-viber
      = link_to "063-452-10-02", "viber://chat?number=+380634521002"
    %p.card-text
      %i.fas.fa-envelope
      = link_to "angarkharkiv.kh.ua", "mailto:angarkharkiv@gmail.com"
    %p.card-text
      %i.fab.fa-instagram
      = link_to "@ANGAR.KH.UA", "https://www.instagram.com/angar.kh.ua/?igshid=eroubhqatked"
