.card
  %h5.card-header.text-center= 'График работы'
  .row.card-body
    .col.card-col.text-left
      %p.card-text= 'Понедельник:'
      %p.card-text= 'Вторник:'
      %p.card-text= 'Среда:'
      %p.card-text= 'Четверг:'
      %p.card-text= 'Пятница:'
      %p.card-text= 'Суббота:'
      %p.card-text= 'Воскресенье:'
    .col.card-col.text-right
      %p.card-text= '09:00-21:00'
      %p.card-text= '09:00-21:00'
      %p.card-text= '09:00-21:00'
      %p.card-text= '09:00-21:00'
      %p.card-text= '09:00-21:00'
      %p.card-text= '10:00-18:00'
      %p.card-text= '11:00-16:00'
