<%= form_for [:admin, @carousel_image] do |form| %>
  <% if carousel_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carousel_image.errors.count, "error") %> prohibited this carousel_image from being saved:</h2>

      <ul>
      <% carousel_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
