.row
  .col-lg-8
    %h2
      Фотографии
      %span.title-product-name
        = @product.product_properties.product_type.value.to_s
        = @product.name
    - @product.product_photos.each do |photo|
      = image_tag(photo.image.url, class: "product_images product_photo_modal_button", data: {id: "#{photo.id}", toggle: "modal", target: "#photoModal"})
  .col-lg-4
    = render 'patrials/product_patrials/product_label'
    = render 'patrials/product_patrials/buy_form'
