= stylesheet_link_tag 'header'

#header.wrapper.container
  .row.justify-content-between
    .col-xl-4.col-sm-6
      = link_to image_tag(app_images.logo.image.url, alt: 'Angar.kh.ua', id: 'logo'), root_path
    .d-none.d-xl-block.d-xl-5
      %address
        %ul#address_list
          %li
            %i.fas.fa-map-marker-alt
            = link_to 'г. Харьков ул. Космическая 22 офис 142', "https://goo.gl/maps/xDpFrBhJJS55bYpo9", target: "_blank"
          %li
            %img.phone_logo(src="https://shop.kyivstar.ua/bundles/kyivstarreview/img/Kyivstar_2015_logo_-_Brandmark.png?47")/
            = link_to "098-363-09-57", "tel:+380983630957"
            %img.phone_logo(src="https://www.lifecell.ua/uploads/feincms_ceo_images/lifecell_logo.png")/
            = link_to "063-452-10-02", "tel:+380634521002"
            %img.phone_logo(src="https://www.freepnglogos.com/uploads/vodafone-png-logo/vodafone-logo-2019-edigital-australia-19.png")/
            = link_to "095-116-02-66", "tel:+380951160266"
          %li
            %i.far.fa-clock
            %span пн-пт: 9:00-21:00, сб: 10:00-18:00, вс: 11:00 - 16:00
    .col-xl-3.col-sm-6.text-right.reg_block
      - if current_user
        = link_to "Личный кабинет", orders_path, class: "btn btn-primary"
        = link_to "Выход", destroy_user_session_path, method: :delete, class: "btn btn-dark"
      - else
        %button.btn.btn-primary(data-toggle="modal" data-target="#registrationModal")
          Авторизация

= render "patrials/application_patrials/header_patrials/navbar"

<!-- Registration Modal -->
= render "patrials/application_patrials/header_patrials/registration_modal"

<!-- Cart Modal -->
= render "patrials/application_patrials/header_patrials/cart_modal"
