<style media="screen">
  .field {
    padding-bottom: 10px;
  }
  <% if order.delivery == 'Доставка Новой Почтой' %>
    .delivery {
      display: block;
    }
  <% else %>
    .delivery {
      display: none;
    }
  <% end %>
</style>

  <div class="row">
    <div class="col-4">
      <%= form_with(model: order) do |form| %>
        <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
            <% order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.telephone_field :phone, placeholder: 'Телефон', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.email_field :email, placeholder: 'Адрес электронной почты', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.text_field :first_name, placeholder: 'Имя', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.text_field :last_name, placeholder: 'Фамилия', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.select :payment, options_for_select(
            ["Наличными",
            "На карту Приват Банка",
            "Наложенный платеж"], selected: order.payment
          ), {}, {class: "form-control"} %>
        </div>
        <div class="field">
          <%= form.select :delivery, options_for_select(
            ["Самовывоз", "Доставка Новой Почтой"], selected: order.delivery
          ), {}, {class: "form-control"} %>
        </div>
        <div class="delivery">
          <input type="radio" name="delivery" value="departament" id="departament" checked>
          <label for="departament">На отделение</label>
          <input type="radio" name="delivery" value="address" id="address">
          <label for="address">На адрес</label>

          <div class="field">
            <%= form.text_field :city, list: "city_name", class: "form-control", placeholder: "Город" %>
              <datalist id="city_name">
                <option value="Boston">
                <option value="Cambridge">
              </datalist>
          </div>

          <div class="field" style="display: block" id="departament_field">
            <%= form.text_field :departament, list: "departament_name", class: "form-control", placeholder: "Отделение Новой Почты" %>
              <datalist id="departament_name">
                <option value="№1 - тута">
                <option value="№2 - тама">
              </datalist>
          </div>

          <div class="field" style="display: none" id="address_field">
            <%= text_field_tag :address,"", list: "address_name", class: "form-control", placeholder: "Адрес" %>
              <datalist id="address_name">
                <option value="улица тута">
                <option value="проспект тама">
              </datalist>
              <%= text_field_tag :house,"", placeholder: "Номер дома", class: "form-control" %>
              <%= text_field_tag :apartment,"", placeholder: "Номер квартиры", class: "form-control" %>
          </div>
        </div>

        <div class="field">
          <%= form.text_area :discription, placeholder: "Примичания", class: "form-control" %>
        </div>

        <%= form.submit "Обновить заказ", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
    
  </div>

<script type="text/javascript">
  $('#address').on('click', function(){
    $('#address_field').css('display', 'block');
    $('#departament_field').css('display', 'none');
  });
  $('#departament').on('click', function(){
    $('#address_field').css('display', 'none');
    $('#departament_field').css('display', 'block');
  });

  $('#order_payment').on('click', function(){
    if($(this).val() == 'Наложенный платеж'){
      $('#order_delivery').val('Доставка Новой Почтой');
      $('.delivery').css('display', 'block');
    }else if ($(this).val() == 'Наличными') {
      $('#order_delivery').val('Самовывоз');
      $('.delivery').css('display', 'none');
    }
  });

  $('#order_delivery').on('change', function(){
    if($(this).val() == 'Доставка Новой Почтой'){
      $('.delivery').css('display', 'block');
    }else{
      $('.delivery').css('display', 'none');
    }
  });
</script>
