<style media="screen">
  .field {
    padding-bottom: 10px;
  }
</style>

  <div class="row">
    <div class="col-4">
      <%= form_with(model: order) do |form| %>
        <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
            <% order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.telephone_field :phone, value: (current_user.phone if current_user), placeholder: 'Телефон', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.email_field :email, value: (current_user.email if current_user), placeholder: 'Адрес электронной почты', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.text_field :first_name, value: (current_user.first_name if current_user), placeholder: 'Имя', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.text_field :last_name, value: (current_user.last_name if current_user), placeholder: 'Фамилия', class: "form-control", required: true %>
        </div>
        <div class="field">
          <%= form.select :payment, raw(
            "<option>Наличными</option>
            <option>На карту Приват Банка</option>
            <option>Наложенный платеж</option>"
          ), {}, {class: "form-control"} %>
        </div>
        <div class="field">
          <%= form.select :delivery, raw(
            "<option>Самовывоз</option>
            <option>Доставка Новой Почтой</option>"
          ), {}, {class: "form-control"} %>
        </div>
        <div class="delivery" style="display: none;">
          <input type="radio" name="delivery" value="departament" id="departament" checked>
          <label for="departament">На отделение</label>
          <input type="radio" name="delivery" value="address" id="address">
          <label for="address">На адрес</label>

          <div class="field">
            <%= form.text_field :city, value: (current_user.city if current_user), list: "city_name", class: "form-control", placeholder: "Город" %>
              <!-- <datalist id="city_name">
                <option value="Boston">
                <option value="Cambridge">
              </datalist> -->
          </div>

          <div class="field" style="display: block" id="departament_field">
            <%= form.text_field :departament, value: (current_user.departament if current_user), list: "departament_name", class: "form-control", placeholder: "Отделение Новой Почты" %>
              <!-- <datalist id="departament_name">
                <option value="№1 - тута">
                <option value="№2 - тама">
              </datalist> -->
          </div>

          <div class="field" style="display: none" id="address_field">
            <%= text_field_tag :address,"", list: "address_name", class: "form-control", placeholder: "Адрес", style: "margin-bottom: 10px;" %>
              <!-- <datalist id="address_name">
                <option value="улица тута">
                <option value="проспект тама">
              </datalist> -->
              <%= text_field_tag :house,"", placeholder: "Номер дома", class: "form-control", style: "margin-bottom: 10px;" %>
              <%= text_field_tag :apartment,"", placeholder: "Номер квартиры", class: "form-control", style: "margin-bottom: 10px;" %>
          </div>
        </div>

        <div class="field">
          <%= form.text_area :discription, placeholder: "Примичания", class: "form-control" %>
        </div>

        <%= form.submit "Оформить заказ",class: "btn btn-primary btn-block", style: "margin-bottom: 10px; color: yellow;" %>
      <% end %>
    </div>
    <div class="col-8">
      <h2>Корзина</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="2" class="text-center">Наименование</th>
            <th class="text-center">Кол-во</th>
            <th class="text-center">Цена</th>
            <th class="text-center">Сумма</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_products.each do |cart_product| %>
            <tr>
              <td>
                <% cart_product.product.product_photos.main.each do |photo| %>
                  <%= link_to image_tag(photo.image.url, width: '80px'), cart_product.product %>
                <% end %>
              </td>
              <td class="text-left">
                <div><%= link_to cart_product.product.name, cart_product.product %></div>
                <div style="font-size: 0.5rem"><%= cart_product.product.summary %></div>
              </td>
              <td class="text-center">
                <%= cart_product.product_count %>
              </td>
              <td><%= cart_product.product.price %> грн.</td>
              <td id="product_<%= cart_product.product.id %>_sum"><%= cart_product.total_product_sum %> грн.</td>
            </tr>
          <% end %>
            <tr>
              <td colspan="3" class="text-right">Итого:</td>
              <td colspan="2" id="total_cart_sum" class="text-center"><%= @cart.total_cart_sum %> грн.</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

<script type="text/javascript">
  $('#address').on('click', function(){
    $('#address_field').css('display', 'block');
    $('#departament_field').css('display', 'none');
  });
  $('#departament').on('click', function(){
    $('#address_field').css('display', 'none');
    $('#departament_field').css('display', 'block');
  });

  $('#order_payment').on('click', function(){
    if($(this).val() == 'Наложенный платеж'){
      $('#order_delivery').val('Доставка Новой Почтой');
      $('.delivery').css('display', 'block');
    }else if ($(this).val() == 'Наличными') {
      $('#order_delivery').val('Самовывоз');
      $('.delivery').css('display', 'none');
    }
  });

  $('#order_delivery').on('change', function(){
    if($(this).val() == 'Доставка Новой Почтой'){
      if($('#order_payment').val() == 'Наличными'){
        $('#order_payment').val('Наложенный платеж')}
      $('.delivery').css('display', 'block');
    }else{
      $('.delivery').css('display', 'none');
    }
  });
</script>
