<% content_for :head do %>
  <title>Личный кабинет | Angar.kh.ua</title>
<% end %>

<h3>Личный кабинет пользователя <%= link_to current_user.full_name, edit_user_registration_path(current_user) %></h3>

<div class="row">
  <div class="col-12">
    <% @orders.each do |order| %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <div class="row">
                <div class="col-6">
                  <%= link_to 'Заказ №' + order.id.to_s, edit_order_path(order) %>
                  <span style="font-size: 0.7rem"><%= order.created_at %></span>
                </div>
                <div class="col-6 text-right" id="change_stasus_form_<%= order.id %>">
                  <% if order.status == 'Новый' %>
                    Статус: <span style="color: green"><%= order.status %></span>
                  <% elsif order.status == 'Отменен' %>
                    Статус: <span style="color: red"><%= order.status %></span>
                  <% elsif order.status == 'Выполнен' %>
                    Статус: <span style="color: blue"><%= order.status %></span>
                  <% elsif order.status == 'Оплачен' %>
                    Статус: <span style="color: orange"><%= order.status %></span>
                  <% elsif order.status == 'Принят' %>
                    Статус: <span style="color: yellow"><%= order.status %></span>
                  <% end %>
                  <% if order.status == 'Отменен' %>
                    <button type="button" class="btn btn-danger disabled">
                      Отменить заказ
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#orderCancelModal_<%= order.id %>">
                      Отменить заказ
                    </button>
                  <% end %>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-5">
                  <% order.cart.cart_products.each do |cart_product| %>
                    <div class="row">
                      <div class="col-auto" style="padding:0 0 10px 15px;">
                        <% cart_product.product.product_photos.main.each do |photo| %>
                          <%= link_to image_tag(photo.image.url, width: '80px'), edit_admin_product_path(cart_product.product) %>
                        <% end %>
                      </div>
                      <div class="col" style="padding-left: 10px;">
                        <div><%= link_to cart_product.product.name, product_path(cart_product.product) %> - <span style="font-size: 0.9rem;"><%= cart_product.product_count %> шт.</span></div>
                        <div style="font-size: 0.7rem;"><%= cart_product.product.summary %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-2">
                  <div><%= order.cart.total_cart_sum %> грн.</div>
                  <div style="font-size: 0.7rem;"><%= order.cart.total_product_count %> шт.</div>
                </div>
                <div class="col-2">
                  <div><%= order.full_name %></div>
                  <div><%= order.phone %></div>
                  <% if order.delivery != "Самовывоз" %>
                    <div><%= order.city %></div>
                    <div><%= order.departament %></div>
                  <% end %>
                </div>
                <div class="col-3">
                  <div><%= order.delivery %></div>
                  <div><%= order.payment %></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    <!-- Modal -->
    <div class="modal fade" id="orderCancelModal_<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="orderCancelModalLabel">Отмена заказа</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/orders/<%= order.id %>/cancel">
            <div class="modal-body">
              Выберите причину: <br/>
                <input type="radio" name="reason" value="Передумал" id="order_cancel_reason_1">
                <label for="order_cancel_reason_1">Передумал</label><br/>
                <input type="radio" name="reason" value="Не перезвонили" id="order_cancel_reason_2">
                <label for="order_cancel_reason_2">Не перезвонили</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <input type="submit" name="" value="Отменить" class="btn btn-danger">
            </div>
          </form>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>
