$('#cart_product_<%= @cart_product.id %>').remove();
$('#cart_link_count').text("<%= @cart.total_product_count %>");
$('#total_cart_sum').text("<%= @cart.total_cart_sum %> грн.");

if (<%= @cart.total_product_count %> == 0){
  if ($("div").is(".cart_wrapper")) {
    $(".cart_wrapper").empty();
    $(".cart_wrapper").html('<div class="empty_cart">Корзина товаров пуста :(</div>');
    $(".cart_buttons").empty();
    $(".cart_buttons").html('<%= link_to "На главную", root_path, class: "cart_button btn btn-outline-primary" %>');
  };
  $("#cartModal").modal('hide');
  $("#cart_link").addClass('disabled');
};

notice();
function notice(){
  var cart_notice = document.createElement("div");
  cart_notice.className = "alert alert-primary fixed-top notice text-center";
  cart_notice.innerText = "<%= @cart_product.product.name %> убран из корзины";

  document.body.appendChild(cart_notice);

  setTimeout(
    function(){
      cart_notice.remove();
    }, 2000
  );

};
