<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новый заказ на Angar.kh.ua</h1>
    <p>
      Добрый день, <%= @order.user.first_name %>
    </p>
    <h2>Ваш заказ:</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Наименование</th>
          <th class="text-center">Кол-во</th>
          <th class="text-center">Цена</th>
          <th class="text-center">Сумма</th>
        </tr>
      </thead>
      <tbody>
        <% @order.cart.cart_products.each do |cart_product| %>
          <tr>
            <td>
              <% cart_product.product.product_photos.main.each do |photo| %>
                <%= link_to image_tag(photo.image.url, width: '80px'), cart_product.product %>
              <% end %>
            </td>
            <td class="text-left">
              <div><%= link_to cart_product.product.name, cart_product.product %></div>
              <div style="font-size: 0.5rem"><%= cart_product.product.summary %></div>
            </td>
            <td class="text-center">
              <%= cart_product.product_count %>
            </td>
            <td><%= cart_product.product.price %> грн.</td>
            <td id="product_<%= cart_product.product.id %>_sum"><%= cart_product.total_product_sum %> грн.</td>
          </tr>
        <% end %>
          <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td colspan="2" id="total_cart_sum" class="text-center"><%= @cart.total_cart_sum %> грн.</td>
          </tr>
      </tbody>
    </table>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
