<style>
  .table td {
    border-top: 0px;
    border-bottom: 1px solid #dee2e6
  }

  .delete_product_from_cart {
    color: black;
    border: solid 1px black;
    padding: 0px 5px;
    border-radius: 50%;
    font-weight: normal;
    font-style: normal;
  }

  .delete_product_from_cart:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }

</style>

<% unless current_cart.cart_products.empty? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Наименовае</th>
        <th class="text-center">Количество</th>
        <th class="text-center">Цена</th>
        <th class="text-center">Сумма</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.cart_products.each do |cart_product| %>
        <tr id="cart_product_<%= cart_product.id %>">
          <td id="product_img">
            <% cart_product.product.product_photos.main.each do |photo| %>
              <%= link_to image_tag(photo.image.url, width: '130px'), cart_product.product %>
            <% end %>
          </td>
          <td class="text-left" id="product_<%= cart_product.product.id %>_name">
            <div id="product_name"><%= link_to cart_product.product.name, cart_product.product %></div>
            <div style="font-size: 0.5rem"><%= cart_product.product.summary %></div>
          </td>
          <td id="product_quantity">
            <input type="number" name="quantity" class="form-control cart_item_id" data-id="<%= cart_product.product.id %>"
            data-price="<%= cart_product.product.price %>"
            max="<%= cart_product.product.quantity %>" min="1" value="<%= cart_product.product_count %>">
          </td>
          <td id="product_price">
            <%= cart_product.product.price %> грн.
          </td>
          <td id="product_<%= cart_product.product.id %>_sum"><%= cart_product.total_product_sum %> грн.</td>
          <td>
            <%= link_to delete_product_from_cart_carts_url(cart_products_id: cart_product.id), class: "delete_product_from_cart", remote: true do %>
              &times;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-right">
    Итого:
    <span id="total_cart_sum"><%= current_cart.total_cart_sum %> грн.</span>
  </div>
<% else %>
  Корзина товаров пуста :(
<% end %>

<script type="text/javascript">
  $('#product_quantity input').on('change input', function() {
    var product_count = parseInt($(this).val());
    var max_product_count = parseInt($(this).attr('max'));
    if (product_count > max_product_count) {
      $(this).val(max_product_count);
      product_count = max_product_count;
    }
    send_request(product_count, $(this).attr('data-id'));
  });

  function send_request(product_count, product_id) {
    var data = {
      product_id: product_id,
      product_count: product_count,
      add_in_cart_modal: true
    };
    $.ajax({
      url: "<%= product_to_cart_carts_path %>",
      data: data
    });
  }
</script>
