<style media="screen">
  .price-form-control {
    font-size: 0.75rem;
  }

  .header {
    font-size: 1rem;
    text-align: center;
    color: yellow;
    background-color: #007bff;
  }

</style>

<button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <h5 class="header">Фильтры</h5>
</button>
<div class="collapse" id="collapseExample">
  <div class="card-body">
    <%= form_for category_path, method: 'GET', remote: true, html: {id: 'patrials/filter_form'} do |f| %>
      <div class="row" style="margin-bottom: 10px;">
        <%= f.hidden_field :product_properties, id: 'product_properties_field' %>
        <%= f.hidden_field :order_by, id: 'order_by_field' %>
        <%= f.hidden_field :order_to, id: 'order_to_field' %>
        <div class="col-12">
          Цена:
        </div>
        <%= f.number_field :price_down, value: @price_down, class: 'form-control price-form-control col', placeholder: "От:", style: "margin-right: 5px;" %>
        <%= f.number_field :price_up, value: @price_up, class: 'form-control price-form-control col', placeholder: "До:", style: "margin-left: 5px;" %>
      </div>

      <ul style="padding-inline-start: 0rem; list-style-type: none;">
        <% @category.properties.each do |property| %>
          <% property.children.filter_displayed.order(:position).each do |property_child| %>
            <li>
              <a class="" data-toggle="collapse" href="#property_<%= property_child.id %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                <%= property_child.name %>
              </a>
            </li>
            <ul style="padding-inline-start: 0.5rem; list-style-type: none; font-size: 0.8rem;">
              <% property_child.product_properties.grouped_with_product_count.each do |product_property| %>
              <%# .includes(:product).where(products: {category: @category, display: true}) %>
                <div class="collapse multi-collapse" id="property_<%= property_child.id %>">
                  <li>
                    <input class="filter_checkbox" type="checkbox"
                      data-category-property-id="<%= product_property.property_id %>"
                      data-product-name="<%= product_property.value %>"
                      <%= filter_checked?(@product_properties, product_property.value) ? 'checked' : ''%>>
                    <%= product_property.value %>(<%= product_property.products_count %>)
                  </li>
                </div>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
      <%= f.submit 'Применить фильтрацию', class: "d-none" %>
    <% end %>
  </div>
</div>
