<style media="screen">
  a.nav-link.nav-custom,a.nav-link.nav-custom :hover {
    color: yellow !important;
  }

  #query::placeholder {
    color: #007bff;
  }

  #query {
    color: #007bff;
  }

  .btn-outline-warning.custom-button {
    margin-left: 5px;
    color: yellow;
    border-color: yellow;
  }

  .dropdown-item {
    color: #007bff;
  }

  .dropdown-item:hover {
    color: #007bff;
  }

  .btn-outline-warning.custom-button:hover {
    color: #007bff;
    background-color: yellow;
  }

  .btn-custom {
    background-color: yellow;
    color: #007bff !important;
  }

  .btn-custom:hover {
    cursor: pointer;
  }

  .notice {
    color: yellow;
    top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999999999;
  }

</style>

<div id="header" class="container">
  <div class="row justify-content-between">
    <div class="col-md-auto text-center">
      <a href="/">
        <%= image_tag(app_images.logo.image.url, alt: 'logo', style: 'height: 65px;') %>
      </a>
    </div>
    <div class="d-none d-xl-block col-xl-auto">
      <address class="" style="margin-bottom: -1rem;">
        <ul style="list-style: none">
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a href="https://goo.gl/maps/xDpFrBhJJS55bYpo9" target="_blank">
              г. Харьков ул. Космическая 22 офис 142
            </a>
          </li>
          <li>
            <img src="https://shop.kyivstar.ua/bundles/kyivstarreview/img/Kyivstar_2015_logo_-_Brandmark.png?47" height="16px" width="16px" style="vertical-align: top;">
            <a href="tel:+380983630957">098-363-09-57</a>
            <img src="https://www.lifecell.ua/uploads/feincms_ceo_images/lifecell_logo.png" height="16px" width="16px" style="vertical-align: top;">
            <a href="tel:+380634521002">063-452-10-02</a>
            <img src="https://www.freepnglogos.com/uploads/vodafone-png-logo/vodafone-logo-2019-edigital-australia-19.png" height="16px" width="16px" style="vertical-align: top;">
            <a href="tel:+380951160266">095-116-02-66</a>
          </li>
          <li>
            <i class="far fa-clock"></i>
            пн-пт: 9:00-21:00, сб: 10:00-18:00, вс: 11:00 - 16:00
          </li>
        </ul>
      </address>
    </div>
    <div class="col-md-auto text-right" style="margin-top: 15px;">
      <% if current_user %>
        <%= link_to "Личный кабинет", orders_path, class: "btn btn-primary", style: "color: yellow;" %>
        <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "btn btn-dark", style: "color: yellow;" %>
      <% else %>
        <!-- Button trigger modal -->
        <button type="button" style="color: yellow;" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">
          Авторизация
        </button>
      <% end %>
    </div>
  </div>
</div>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 5px 0 5px 1rem; margin-bottom: 10px;">
  <div class="container">
    <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-custom" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-custom" href="https://docs.google.com/spreadsheets/d/1MHJE8QwpMQtp5pESb031vKWT_pocnjgAB9Wv5z6bpRM/edit#gid=2124455559" target="_blank">Прайс</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-custom dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Категории товаров
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% categories.each do |category| %>
              <%= link_to category.name, category_path(category), class: "dropdown-item", style: "color: #007bff;" %>
            <% end %>
          </div>
        </li>

        <!--  -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-custom dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            О нас
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about_us">О нас</a>
            <a class="dropdown-item" href="/about_us">Способы доставки</a>
            <a class="dropdown-item" href="/about_us">Способы оплаты</a>
            <a class="dropdown-item" href="/about_us">Контакты</a>
          </div>
        </li>
      </ul>
    </div>


    <div class="col-auto">
      <%= form_tag results_path, method: :get, role: 'search', class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Поиск" %>
        <button class="btn btn-outline-warning custom-button" type="submit"><i class="fas fa-search"></i></button>
      <% end %>
    </div>
    <div class="col-auto header_buttons">
      <% if session[:current_cart_id] && current_cart.total_product_count != 0 %>
        <%= link_to cart_path(id: session[:current_cart_id]), remote: true, id: "cart_link", class: "btn btn-custom"  do %>
          <i class="fas fa-shopping-cart"></i>
          <span id="cart_link_count"><%= current_cart.total_product_count %><span>
        <% end %>
      <% else %>
        <a id="cart_link" type="" class="btn btn-custom disabled" data-remote="true">
          <i class="fas fa-shopping-cart"></i>
          <span id="cart_link_count">0<span>
        </a>
      <% end %>
    </div>
  </div>
</nav>

<!-- Registration Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="registrationModalLabel">Авторизация</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "users/sessions/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" style="color:yellow;" data-dismiss="modal">Закрыть</button>
        <%= link_to "Регистрация", new_registration_path(resource_name), class: "btn btn-primary", style: "color:yellow;" %>
        <%= link_to "Востановление пароля", new_password_path(resource_name), class: "btn btn-primary", style: "color:yellow;" %>
      </div>
    </div>
  </div>
</div>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="cartModalLabel">Корзина товаров</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <%= link_to "Оформить заказ", new_order_path(), class: "btn btn-primary", style: "color: yellow;" %>
        <%= link_to "Очистить корзину", delete_all_products_from_cart_carts_path, class: "btn btn-primary", style: "color: yellow;" %>
      </div>
    </div>
  </div>
</div>
