<%= stylesheet_link_tag 'admin/category.css' %>

<%= form_for [:admin, @category] do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2 field">
      <% if @category.image? %>
        <%= form.label :image, image_tag(@category.image.url, size: "180x200", id: "img"), class: "category_image_label" %>
        <%= form.file_field :image, class: "d-none" %>
      <% else %>
        <%= form.label :image, image_tag(app_images.favicon.image.url, size: "180x200", id: "img"),class: "category_image_label" %>
        <%= form.file_field :image, class: "d-none" %>
      <% end %>
    </div>

    <div class="col">
      <div class="row form-group">
        <%= form.label :name, "Наименование:", class: "col-2 col-form-label" %>
        <%= form.text_field :name, class: "form-control col-10", autofocus: true %>
      </div>

      <div class="row form-group">
        <%= form.label :parent_id, "Родитель:", class: "col-2 col-form-label" %>
        <%= form.collection_select :parent_id, Category.roots, :id, :name, {:prompt => true}, {:class => "col-10 form-control"} %>
      </div>

      <div class="row form-group">
        <%= form.label :position, "Позиция:", class: "col-2 col-form-label" %>
        <%= form.number_field :position, class: "col-10 form-control" %>
      </div>

      <div class="row form-group">
        <%= form.label :discription, "Описание:", class: "col-2 col-form-label" %>
        <%= form.cktext_area :discription, class: "col-10 form-control" %>
      </div>

      <div class="row form-group">
        <%= form.label :property_ids, "Характеристики:", class: "col-2 col-form-label" %>
        <%= form.collection_select :property_ids, Property.roots, :id, :name, {}, :multiple => true, class: "col-10 form-control" %>
      </div>
    </div>

    <div class="col-2 actions">
      <%= form.submit 'Сохранить категорию', class: "w-100 btn text-right" %>
      <%= link_to 'Назад', admin_categories_path, class: "w-100 btn text-right" %>
      <%= link_to 'Удалить', admin_category_path(@category), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить категорию ' + category.name + '?' }, class: "w-100 btn text-right" %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'admin/category.js' %>
