<style media="screen">
  .photo_label {
    cursor: pointer;
    border: 1px dashed black;
  }

  .w-100 {
    text-align: right;
  }

  .field {
    margin-bottom: 10px;
  }

</style>

<%= form_for [:admin, @category] do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2 field">
      <% if @category.image? %>
        <%= form.label :image, image_tag(@category.image.url, size: "180x200", id: "img"), class: "photo_label" %>
        <%= form.file_field :image, class: "d-none" %>
      <% else %>
        <%= form.label :image, image_tag("favicon.jpeg", size: "180x200", id: "img"),class: "photo_label" %>
        <%= form.file_field :image, class: "d-none" %>
      <% end %>
    </div>

    <div class="col">
      <div class="row field">
        <%= form.label :name, "Наименование:", class: "col-2" %>
        <%= form.text_field :name, class: "form-control col-10" %>
      </div>

      <div class="row field">
        <%= form.label :parent_id, "Родитель:", class: "col-2" %>
        <%= form.collection_select :parent_id, Category.roots, :id, :name, {:prompt => true}, {:class => "col-10 form-control"} %>
      </div>

      <div class="row field">
        <%= form.label :position, "Позиция:", class: "col-2" %>
        <%= form.number_field :position, class: "col-10 form-control" %>
      </div>

      <div class="row field">
        <%= form.label :property_ids, "Характеристики:", class: "col-2" %>
        <%= form.collection_select :property_ids, Property.roots, :id, :name, {}, :multiple => true, class: "col-10 form-control", style: "height: 350px;" %>
      </div>
    </div>

    <div class="col-2 actions">
      <%= form.submit 'Сохранить категорию', class: "w-100 btn" %>
      <%= link_to 'Назад', admin_categories_path, class: "w-100 btn" %>
    </div>
  </div>
<% end %>

<script>
  $('#category_image').change(function () {
    var input = $(this)[0];
    if (input.files && input.files[0]) {
      if (input.files[0].type.match('image.*')) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      } else {
        console.log('ошибка, не изображение');
      }
    } else {
      console.log('хьюстон у нас проблема');
    }
  });
</script>
