<style media="screen">
  .photos {
    margin-top: 15px;
  }

  .photo_panel {
    position: absolute;
    background-color: rgba(205, 214, 219, .3);
    width: calc(100% - 30px);
    display: none;
  }
  .photo_panel_left {
    padding-left: 25px;
  }

  .photo_panel_right {
    padding-right: 25px;
  }

  .image {
    border: 1px dashed black;
  }
</style>

<%= form_for [:admin, product] do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-3"> <!-- photos -->
    <% @product.product_photos.main.each do |photo| %>
      <div class="row" style="margin-left: 0px;">
        <div id="panel_<%= photo.id %>" class="photo_panel">
          <div class="row">
            <div class="col-6 photo_panel_left">
              <%= link_to edit_admin_product_photo_path(photo, product_id: product.id) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </div>
            <div class="col-6 text-right photo_panel_right">
              <%= link_to admin_product_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div id="main_image" class="image">
        <%= image_tag(photo.image.url, alt: 'Image', width: '100%', data: { id: photo.id}) %>
      </div>
    <% end %>
    <div class="row">
      <% @product.product_photos.not_main.each do |photo| %>
        <div class="col-6 photos">
          <div class="row" style="margin-left: 0px;">
            <div id="panel_<%= photo.id %>" class="photo_panel">
              <div class="row">
                <div class="col-6 photo_panel_left">
                  <%= link_to edit_admin_product_photo_path(photo, product_id: product.id) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                </div>
                <div class="col-6 text-right photo_panel_right">
                  <%= link_to admin_product_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="image">
            <%= image_tag(photo.image.url, alt: 'Image', width: '100%', data: {id: photo.id}) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-7"> <!-- main -->
    <div class="">
      <%= form.label :display, "Отображение:" %>
      <%= form.check_box :display %>
    </div>

    <div class="row form-group">
      <%= form.label :category_id, "Категория:", class: "col-3 col-form-label" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, {}, {class: "col-9 form-control", autofocus: true} %>
    </div>

    <div class="row form-group">
      <%= form.label :name, "Наименование:", class: "col-3 col-form-label" %>
      <%= form.text_field :name, class: "col-9 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :summary, class: "col-3 col-form-label" %>
      <%= form.text_field :summary, class: "col-9 form-control", readonly: true %>
    </div>

    <div class="row form-group">
      <%= form.label :price, "Цена:", class: "col-3 col-form-label" %>
      <%= form.number_field :price, class: "col-9 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :quantity, "Количество:", class: "col-3 col-form-label" %>
      <%= form.number_field :quantity, class: "col-9 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :discription, "Описание:",class: "col-3 col-form-label" %>
      <%= form.cktext_area :discription, rows: "5", class: "col-9 form-control" %>
    </div>

    <div class="row">
      <h2>Характеристики:</h2>
        <% @product.properties.roots.each do |property| %>
          <button class="btn btn-primary btn-block" type="button" data-toggle="collapse"
            data-target="#collapse_<%= property.id %>" aria-expanded="false"
            aria-controls="collapseExample" style="margin-bottom: 15px;">
            <%= property.name %>
          </button>
          <% property.children.order(:position).each do |child| %>
            <% child.product_properties.where(product: @product).each do |pp| %>
              <div class="col-12">
                <div class="collapse" id="collapse_<%= pp.property.root.id %>" style="margin: 0 15px 0 0;">
                  <%= form.fields_for :product_properties, pp do |pp_form| %>
                    <div class="row form-group">
                      <span class="col-3 col-form-label"><%= pp.property.name %>:</span>
                      <%= pp_form.text_field :value, class: "col-9 form-control" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

  </div>

  <div class="col-2 text-right"> <!-- actions -->
    <%= link_to "Добавить фото", new_admin_product_photo_path(product_id: product.id), class: "btn" %><br/>
    <%= form.submit "Сохранить продукт", class: "btn" %><br/>
    <%= link_to 'Новый продукт', new_admin_product_path, class: "btn" %><br/>
    <%= link_to "Назад", admin_products_path, class: "btn" %>
    <%= link_to "Посмотреть на сайте", product_path(@product), target: "_blank",class: "btn" %>
  </div>
</div>

<% end %>

<script type="text/javascript">
  $('img').hover(function(){
    var id = $(this).attr('data-id');
    $('#panel_'+id).show();
    $('#panel_'+id).hover(function(){
      $(this).show()
    })
  }, function(){
    var id = $(this).attr('data-id');
    $('#panel_'+id).hide();
  });
</script>
