<style media="screen">
  .w-100 {
    text-align: right;
  }

</style>

<%= form_for [:admin, product] do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= form.label :display, "Отображение:" %>
      <%= form.check_box :display, checked: true %>
    </div>

    <div class="row form-group">
      <%= form.label :category_id, "Категория:", class: "col-2 col-form-label" %>
      <%= form.collection_select :category_id, Category.all, :id, :name,{}, {class: "col-10 form-control", autofocus: true} %>
    </div>

    <div class="row form-group">
      <%= form.label :name, "Наименование:", class: "col-2 col-form-label" %>
      <%= form.text_field :name, class: "col-10 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :price, "Цена:", class: "col-2 col-form-label" %>
      <%= form.number_field :price, class: "col-10 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :quantity, "Количество:", class: "col-2 col-form-label" %>
      <%= form.number_field :quantity, class: "col-10 form-control" %>
    </div>

    <div class="row form-group">
      <%= form.label :discription, "Описание:", class: "col-2 col-form-control" %>
      <%= form.cktext_area :discription, class: "form-control col-10", rows: "9" %>
    </div>
  </div>

  <div class="col-2 actions">
    <%= form.submit "Создать продукт", class: "w-100 btn" %>
    <%= link_to 'Назад', admin_products_path, class: "w-100 btn" %>
  </div>
</div>
<% end %>
