<%= form_for [:admin, product] do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-2">
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true %>
  </div>

  <div class="col">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :summary %>
      <%= form.text_field :summary %>
    </div>

    <div class="field">
      <%= form.label :discription %>
      <%= form.text_field :discription %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity %>
    </div>

    <div class="field">
      <%= form.label :display %>
      <%= form.check_box :display %>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>
  </div>

  <div class="col-2 actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
