<h1>Products</h1>

<div class="row">
  <div class="col-2">
    Сортировка:<br/>
    <%= link_to "Все продукты", admin_products_path %>
    <ul>
      <li>По отображению:</li>
      <ul>
        <li><%= link_to "disp", admin_products_path(displayed: true) %></li>
        <li><%= link_to "not_disp", admin_products_path(not_displayed: true) %></li>
      </ul>
      <li>По категориям:</li>
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, admin_products_path(by_category: category.id) %></li>
        <% end %>
      </ul>
    </ul>
  </div>
  <div class="col-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Категория</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Количество</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <% product.product_photos.main.each do |photo| %>
                <%= image_tag(photo.image.url, width: '80px') %>
              <% end %>
            </td>
            <td><%= product.category.name %></td>
            <td>
              <div class="">
                <%= link_to product.name, edit_admin_product_path(product) %>
              </div>
              <div style="font-size: 0.8rem">
                <%= product.summary %>
              </div>
            </td>
            <td><%= product.price %> грн.</td>
            <td style="font-size: 0.8rem">
              <div class="">
                <% if product.display %>
                  Отображается
                <% else %>
                  Нет в наличии
                <% end %>
              </div>
              <div class="">
                <%= product.quantity %> шт.
              </div>
            </td>
            <td class="text-right">
              <%= link_to admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } do %>
                &times;
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-2 text-right">
    <%= link_to '+ Добавить товар', new_admin_product_path %>
  </div>
</div>
