<% content_for :head do %>
  <title>Смена пароля | Angar.kh.ua</title>
<% end %>

<h2>Смена пароля</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-row" style="margin-bottom: 10px;">
    <div class="col">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Новый пароль" %>
    </div>

    <div class="col">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Подтверждение пароля" %>
    </div>
  </div>

  <div class="actions d-flex justify-content-between" style="padding-top: -10px;"">
    <%= f.submit "Обновить пароль", class: "btn btn-primary", style: "color: yellow; width: 33%" %>
    <%= render "users/shared/links" %>
  </div>
<% end %>
