<% content_for :head do %>
  <title><%= @product.name %> | Angar.kh.ua</title>
<% end %>

<style media="screen">
  .breadcrumb-item {
    font-size: 0.6rem;
  }

  .image_button {
    cursor: pointer;
  }
</style>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="margin-bottom: 0.5rem">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><%= link_to @product.category.name, @product.category %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>

<h1>
  <div>
    <%= @product.properties.product_type.product_properties.first.value %>
    <%= @product.name %>
  </div>
  <div style="font-size: 15px"><%= @product.summary %></div>
</h1>

<ul class="discription-navbar nav nav-tabs" id="myTab" role="tablist" style="padding-top: 10px;">
  <li class="nav-item text-center" style="width: 25%;">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#discription" role="tab" aria-controls="discription" aria-selected="true">Фото</a>
  </li>
  <li class="nav-item text-center" style="width: 50%;">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#specifications" role="tab" aria-controls="specifications" aria-selected="false">Технические характеристики</a>
  </li>
  <li class="nav-item text-center" style="width: 25%;">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Комментарии (<%= @product.product_comments.count %>)</a>
  </li>
</ul>
<div class="row">
  <div class="col-6">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active aaa" id="discription" role="tabpanel" aria-labelledby="home-tab">
        <h2>Фото:</h2>
        <div class="row">
          <div class="col">
            <% @product.product_photos.not_main.each do |photo| %>
              <a data-toggle="modal" data-target="#photoModal" class="image_button" data-id="<%= photo.id %>">
                <%= image_tag(photo.image.url, width: '100%', alt: @product.name, style: "padding-bottom: 8px;") %>
              </a>
            <% end %>
          </div>
          <div class="col">
            <% @product.product_photos.main.each do |photo| %>
              <a data-toggle="modal" data-target="#photoModal" class="image_button" data-id="<%= photo.id %>">
                <%= image_tag(photo.image.url, alt: @product.name) %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade aaa" id="specifications" role="tabpanel" aria-labelledby="profile-tab">
        <h2>Технические характеристики:</h2>
        <ul class="specs">
          <% @product.product_properties.order(:id).each do |pp| %>
            <% if pp.property.root? %>
              <li><%= pp.property.name %>:</li>
            <% else %>
              <ul>
                <% if pp.value? %>
                  <li><%= pp.property.name %>: <%= pp.value %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="contact-tab">
        <h2>Комментарии:</h2>
        <% @product.product_comments.each do |comment| %>
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-6 text-left">
                  <%= comment.user.first_name %> <%= comment.user.last_name %>
                </div>
                <div class="col-6 text-right">
                  <a href="<%= product_like_comment_path(comment_id: comment.id, product_id: @product.id) %>" style="color: yellow" data-remote="true">
                    <i class="fas fa-thumbs-up"></i>
                  </a>
                  <span id="like_<%= comment.id %>"><%= comment.like %></span>
                  <a href="<%= product_dislike_comment_path(comment_id: comment.id, product_id: @product.id) %>" style="color: yellow" data-remote="true">
                    <i class="fas fa-thumbs-down"></i>
                  </a>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= comment.comment %></li>
            </ul>
          </div>
        <% end %>
        <%= form_tag(product_create_product_comment_path(product_id: @product.id), method: :get) do %>
          <%= hidden_field_tag(:user_id, value = current_user.id) if current_user %>
          <%= text_area_tag :comment, nil, class: "form-control" %>
          <div class="text-right">
            <%= submit_tag "Оставить комментарий", class: "btn btn-primary", style: "margin-top: 10px; color: yellow;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="text-right" style="font-size: 0.7rem;">Индекс: <%= @product.id %></div>
    <div class="text-center" style="font-size: 2.5rem;"><%= @product.price %> грн.</div>
    <% if @product.display %>
      <%= form_tag product_to_cart_carts_path, method: 'get', class: 'row', style: 'margin: 0', remote: true do %>
        <%= hidden_field_tag(:product_id, value = @product.id) %>
        <%= number_field_tag(:product_count, '1',min: 1, max: @product.quantity, class: "form-control col-2", style: "margin-right: 10px;") %>
        <%= submit_tag("Добавить в корзину", class: "btn btn-primary col-auto", style: "color: yellow") %>
      <% end %>
    <% else %>
      <h4 style="color: red;">Нет в наличии</h4>
    <% end %>
  </div>
</div>
<div class="">
  <h2>Описание:</h2>
  <div style="padding-left: 15px">
    <%= @product.discription.html_safe %>
  </div>
</div>

<!-- PhotoModal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="photoModalLabel"><%= @product.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.product_photos.each do |photo| %>
                    <div class="carousel-item" id="photo_<%= photo.id %>">
                      <%= image_tag(photo.image.url, width: '100%') %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- Кнопки карусели -->
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.image_button').on('click', function(){
      photo_id = $(this).attr('data-id');
      $('#photo_'+photo_id).addClass("active");
    });
</script>
