<style media="screen">
  .w-100 {
    text-align: right;
  }

</style>

<%= form_for [:admin, property] do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="row form-group">
        <%= form.label :name, 'Наименование:', class: "col-2 col-form-label" %>
        <%= form.text_field :name, class: "form-control col-10", autofocus: true %>
      </div>

      <div class="row form-group">
        <%= form.label :parent_id, 'Родитель:', class: "col-2 col-form-label" %>
        <%= form.collection_select :parent_id, Property.roots, :id, :name, {:prompt => true}, {:class => "col-10 form-control"} %>
      </div>

      <div class="form-group">
        <div class="col-6 form-check form-check-inline">
          <%= form.label :display_filter, "Отображение в фильтрах:", class: "form-check-label" %>
          <%= form.check_box :display_filter, class: "form-check-input", style: "margin-left: 5px;" %>
        </div>
        <div class="form-check form-check-inline">
          <%= form.label :display_product, "Отображение в продукте:", class: "form-check-label" %>
          <%= form.check_box :display_product, checked: true, class: "form-check-input check_box_display", style: "margin-left: 5px;" %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label :position, 'Позиция:',class: "col-2 col-form-label" %>
        <%= form.text_field :position, class: "form-control col-10" %>
      </div>

      <div class="row form-group">
        <%= form.label :discription, 'Позиция:',class: "col-2 col-form-label" %>
        <%= form.text_area :discription, rows: '12',class: "form-control col-10" %>
      </div>
    </div>

    <div class="col-2 actions text-right">
      <%= form.submit "Сохранить хар-ку",class: "w-100 btn" %>
      <%= link_to 'Назад', admin_properties_path, class: "w-100 btn" %>
    </div>
  </div>
<% end %>
