<style media="screen">
  .form-row>.col {
    padding: 0 5px 10px 5px;
  }
</style>

<h2>Регистрация</h2>

<div class="row">
  <div class="col-md-7 col-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-row">
        <div class="col">
          <%= f.text_field :phone, class: "form-control", placeholder: "Телефон", required: true %>
        </div>

        <div class="col">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Адресс электронной почты", required: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <%= f.text_field :first_name, class: "form-control", placeholder: "Имя", required: true %>
        </div>

        <div class="col">
          <%= f.text_field :last_name, class: "form-control", placeholder: "Фамилия", required: true %>
        </div>
      </div>


      <h3>Доставка <em>не обязательно</em></h3>

      <div class="form-row">
        <div class="col">
          <%= f.text_field :city, list: "city_name", class: "form-control", placeholder: "Город" %>
            <datalist id="city_name">
              <option value="Boston">
              <option value="Cambridge">
            </datalist>
        </div>

        <div class="col" style="display: block" id="departament_field">
          <%= f.text_field :departament, list: "departament_name", class: "form-control", placeholder: "Отделение Новой Почты" %>
            <datalist id="departament_name">
              <option value="№1 - тута">
              <option value="№2 - тама">
            </datalist>
        </div>
      </div>

      <p>*Пароль прийдет на почту. Далее его можно будет сменить в личном кабинете.</p>

      <div class="actions">
        <%= f.submit "Зарегесирироваться", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
